/* list ======================================================================== */
.sort {
	display: block;
}

.sort::after {
	content: '';
	display: block;
	clear: both;
	float: right;
}

.sort>li {
	display: inline;
	float: right;
	padding: 0 10px 20px;
	color: #ccc;
}

.sort>li>a:hover {
	font-weight: bold;
}

.sort-on {
	font-weight: bold;
}

.shopSearchDiv {
	height: 40px;
	width: 300px;
	border: 1px solid #ccc;
	background: white;
	float: right;
	margin: 0 10px;
}

.shopTxt {
	font-size: 16px;
	width: 80%;
	height: 38px;
	padding: 10px;
	border: 0px;
	outline: none;
	float: left;
}

.shopBtn {
	width: 20%;
	height: 100%;
	border: 0px;
	background: #fff;
	color: white;
	outline: none;
	float: right;
	padding: 3px;
}

.shopBtn:hover {
	cursor: pointer;
}

.shopSearchImg {
	max-height: 28px;
	padding: 3px 0 0 0;
	color: white;
}

.row {
	margin: 0 -15px 60px;
	min-width: 1200px;
}

.row:before, .row:after {
	display: table;
	content: " ";
}

.row:after {
	clear: both;
}

.col-md-3 {
	position: relative;
	min-height: 1px;
	padding: 0 10px;
	float: left;
	width: 300px;
	height: 405px;
}

.product-grid {
	font-family: Raleway, sans-serif;
	text-align: center;
	padding: 10px;
	position: relative;
	z-index: 1;
}

.product-image {
	position: relative;
	height: 250px;
	vertical-align: middle;
	overflow: hidden;
}

.pic {
	width: 100%;
	height: auto;
}

.product-grid .product-new-label {
	color: #fff;
	background-color: #ef5777;
	font-size: 12px;
	text-transform: uppercase;
	padding: 2px 7px;
	display: block;
	position: absolute;
	top: 10px;
	left: 0
}

.product-grid .product-content {
	background-color: #fff;
	text-align: center;
	padding: 10px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}

.product-content .title {
	font-size: 15px;
	font-weight: 700;
	text-transform: capitalize;
	margin: 0 0 10px;
	font-family: auto;
}

.product-content .price {
	font-size: 18px;
	font-family: Montserrat, sans-serif;
	font-weight: 700;
	letter-spacing: .6px;
	margin-bottom: 8px;
	text-align: center;
}

.product-content .brand {
	color: #000;
	font-size: 13px;
}

.product-grid .review {
	color: #ef5777;
	font-size: 13px;
}

.brand:hover, .review:hover {
	text-decoration: none;
}

/* brand ======================================================================== */
.brand-row {
	margin: 0 -15px 60px;
	min-width: 1200px;
}

.brand-row:before, .row:after {
	display: table;
	content: " ";
}

.brand-row:after {
	clear: both;
}

.brands {
	position: relative;
	padding: 20px;
	float: left;
	width: 120px;
	text-align: center;
}

.brand-a {
	font-size: 16px;
	color: #888888;
}

.brand-a-on {
	font-size: 16px;
	font-weight: bold;
	color: #ef5777;
}

/* detail ======================================================================== */
.shop-head-title {
	padding: 40px 10px 10px;
	font-size: 20px;
	text-align: left;
	color: #5a5a5a;
	font-weight: bold;
}

.card {
	margin: 0 0 40px 0;
	border: 1px solid #d8d8d8;
}

.card::after {
	content: '';
	display: block;
	clear: both;
}

.card-img {
	width: 584px;
	height: 584px;
	line-height: 500px;
	float: left;
	position: relative;
	overflow: hidden;
}

.card-img>img {
	width: 100%;
	overflow: hidden;
}

.card-txt {
	width: 583px;
	height: 584px;
	padding: 10px 40px;
	float: left;
	position: relative;
	background: #fbfbfb;
	border-left: 1px solid #d8d8d8;
}

.info-name {
	text-align: left;
}

.info-detail {
	font-size: 18px;
	text-align: left;
	padding: 12px 0;
	border-bottom: 1px solid #e1e1e1;
}

.card-info-td, .card-info-td0, .card-info-td1 {
	border: none;
	height: 50px;
	padding: 0;
	line-height: 50px;
}

.card-info-td {
	width: 20%;
	color: #999999;
}

.card-info-td0 {
	font-size: 22px;
	font-weight: bold;
}

input[type="number"] {
	border-radius: 0;
	border: 1px solid #dadada;
	width: 100px;
	padding: 0 0 0 10px;
	font-size: 16px;
}

input[type="number"]:focus {
	outline: none;
}

input[type="number"]::-webkit-inner-spin-button {
	height: 30px;
	width: 50px;
	opacity: 1;
}

.left-how-many {
	float: left;
	padding: 20px;
	font-size: 16px;
	line-height: 30px;
}

.right-total {
	float: right;
	padding: 20px 10px;
	font-size: 20px;
	line-height: 30px;
}

.right-total-price {
	float: right;
	font-size: 32px;
	font-weight: bold;
	color: #ef5777;
	line-height: 60px;
}

.right-one {
	float: right;
	padding: 20px 10px;
	font-size: 20px;
	color: #ef5777;
	line-height: 30px;
}

.in-cart-btn {
	width: 110px;
	height: 48px;
	line-height: 48px;
	background: #ffffff;
	border: 1px solid #ff7289;
	color: #ff7289;
	margin: 20px 10px 0 0;
	font-size: 15px;
	font-weight: bold;
}

.purchase-btn {
	width: 170px;
	height: 48px;
	line-height: 48px;
	background: #ff7289;
	border: 1px solid #ff7289;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
}

.pdt_detai_tabinner_vn {
	position: relative;
	width: 100%;
	z-index: 10;
	background: white;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

.pdt_detai_tabinner_vn2 {
	position: fixed;
	width: 1170px;
	margin: 0 auto;
	z-index: 10;
	background: white;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	top: 0;
	left: 0;
	right: 0;
}

.pdt_detai_tabinner_vn::after {
	content: "";
	display: block;
	clear: both;
}

.pdt_detai_tabinner_vn>ul, .pdt_detai_tabinner_vn2>ul {
	padding: 0;
	margin: 0;
}

.pdt_item {
	position: relative;
	display: block;
	width: 33.3%;
	height: 65px;
	line-height: 65px;
	float: left;
}

.pdt_item>a {
	font-size: 18px;
	width: 100%;
	height: 100%;
	display: block;
	font-family: 'Noto sans';
}

.pdt_detai_tabinner_vn .on a, .pdt_detai_tabinner_vn2 .on a {
	background: #fff;
	color: #151516;
	border-bottom: 1px solid #151516;
	border-left: none;
	font-weight: 600;
}

.details {
	margin: 50px 0;
}

.detail-imgs {
	position: relative;
	margin: 0 auto;
	width: 70%;
}

.detail-imgs>img {
	height: auto;
	width: 100%;
}

.shop-mini-title {
	padding: 20px 10px;
	font-size: 24px;
	text-align: left;
}

.review-qustion-div {
	width: 100%;
	margin: 0 auto 60px;
}

.float-right {
	float: right;
	padding: 20px 10px;
}

.iqtitle {
	cursor: pointer;
}

.top_wrap {
	position: absolute;
	top: 600px;
	z-index: 10;
}

.top_box_wrap {
	float: right;
	margin: 0 80px;
}

.top_box {
	position: fixed;
	width: 39px;
	height: 39px;
	border: 0px solid #c0c0c0;
	border-radius: 3px;
}

.top_txt {
	display: block;
	height: 39px;
	width: 39px;
	background: rgba(255, 255, 255, 0.9);
	border-radius: 3px;
	border: 1px solid #bdbdbd;
}

.top_txt img {
	border: none;
	padding: 3px;
	vertical-align: middle;
}

.float-right-box {
	float: right;
	color: gray;
}

.float-right-box a {
	color: gray;
	cursor: pointer;
}

.modifyFrm {
	width: 90%;
	text-align: center;
	margin: 0 auto;
}

.ques-mody-table {
	width: 100%;
	margin: 30px 0;
	text-align: center;
}

.ques-mody-table td {
	border: none;
	vertical-align: middle;
}

.modi-table-th {
	padding: 0 10px;
	font-weight: bold;
	font-size: 15px;
}

.iqModititle {
	width: 100%;
	border-radius: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid gray;
	font-size: 15px;
}

.iqModititle:focus {
	outline: none;
	border-bottom: 1px solid black;
}

.iqModicontent {
	margin: 0 0 10px;
	padding: 10px;
	width: 100%;
	height: 120px;
	border-radius: 3px;
	border: 1px solid gray;
	font-size: 15px;
}

.iqModicontent:focus {
	outline: none;
	border-radius: 3px;
	border: 1px solid black;
}

.iqsecret {
	padding: 0;
	margin: 5px 0 0;
}

.modifySubmit {
	background: #ff7289;
	padding: 30px 60px;
	line-height: 0px;
	margin: 0 10px;
	border: none;
	color: white;
	font-size: 15px;
	font-weight: bold;
	border-radius: 3px;
}

.modifyCancel {
	padding: 30px 60px;
	line-height: 0px;
	margin: 0 10px;
	border: none;
	color: #4a4a4a;
	font-size: 15px;
	font-weight: bold;
	border-radius: 3px;
}

.modifySubmit:hover {
	background: #ff6384;
	cursor: pointer;
}

.modifyCancel:hover {
	background: #e5e5e5;
	cursor: pointer;
}

pre {
	font-size:16px;
}